/*----------FONTS-----*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body {
    font-family: 'Roboto', sans-serif;
}

/*-------------------------------Colors*/

/*--------------------------------------navbar*/

.row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0px;
}

.sr-only icon-bar {
    color: #FFFFFF;
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #e8fcf5;
    border: 0;
    border-radius: 0;
}

.navbar-header {
    background-color: #e8fcf5;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.navbar .navbar-brand {
    color: #FFFFFF;
    font-size: 30px;
}

.navbar-brand-sm {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.navbar .navbar-brand:hover {
    transition: ease-in-out 0.6s;
    font-size: 30px;
    -ms-transform: hvr-sweep-to-bottom;
    -webkit-transform: hvr-sweep-to-bottom;
    -moz-transform: hvr-sweep-to-bottom;
    -o-transform: hvr-sweep-to-bottom;
    transform: hvr-sweep-to-bottom;
    color: #FFFFFF;
}

.navbar a {
    color: #FFFFFF;
    text-align: center;
}

.nav li a {
    display: block;
    padding: 10px 53px;
}

.navbar ul {
    text-align: center;
    color: #000000;
}

.navbar-default .navbar-nav a {
    color: #000000;

}

.navbar .navbar-brand {
    color: #000000;
    font-size: 40px;
    background-color: #e8fcf5;
}

.navbar-brand hidden-sm {
    font-size: 25px;
    background: transparent;
}

.navbar-header {
    background-color: #fffc64;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #000000;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #e8fcf5;
    color: #FFFFFF;
}

.navbar-btn:hover {
    background-color: #e8fcf5;
    border-color: #e8fcf5;
    color: #FFFFFF;
}

.options {
    color: #e8fcf5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 5px 8px 0 5px;
    margin: 0 10px;
}

.below-navbar {
    margin-top: 60px;
}

/*--------------------------------------Body */

.callout-container {
    height: 100vh;

    background: url("../images/logo-1.png") no-repeat center center fixed;
    -webkit-background-size: 1000px;
    -moz-background-size: 1000px;
    -o-background-size: 1000px;
    background-size: 1000px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body {
    padding-top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background-color: #e8fcf5;
}


/*-----------------------Special Paddings/Margins/Text*/

/*--------------------------------------------Heading*/

.container-fluid {
    background-color: #e8fcf5;
    margin: 0;
    padding: 0px;
}





/*-------------------------------FONTS,BUTTONS-BLOCK_DIVIDERS*/

.btn {
    color: ;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-danger {
    color: #fff;
    background-color: red;
    border-color: red;
}

h1,
h4,
h5,
h6,
p {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 45px;
}

h2 {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 18px;
}

h3 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    margin-bottom: 45px;
    font-size: 38px;
    
}

/*---------------------------------HOVER*/

/* grow */

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    -ms-transform: hvr-grow;
    -webkit-transform: hvr-grow;
    -moz-transform: hvr-grow;
    -o-transform: hvr-grow;
    color: #fffc64;
    transition: 0.5s;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/*----------------------------------Footer*/

.footer-blackseeds {
    text-align: center;
    right: 0;
    bottom: -1px;
    left: 0;
    padding: 1rem;
    color: #000000;
    width: 100%;
    height: 20vh;
}



.social-media-links {
    font-size: 40px;
    background-color: #b0a18e;
    /*yellow*/
}

.form-group p {
    font-size: 18px;
    font-family: 'Roboto';
    margin-bottom: 10px;
}



/*-------------------------------HOME-PAGE*/

#top-albums {
    text-align: center;
}

#top-tracks {
    text-align: center;
    padding-top: 65px;
}

/*------------End OF------------HOME-PAGE*/

/*-------------------------------TOUR-DATES*/

.tour-dates-header {
    color: #000000;
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
}

.table-striped,
th {
    text-align: center;
}

th {
    text-transform: uppercase;
}

.table {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    min-height: 100vh;
}

.tickets {
    color: #7f0000;
    transition: 0.6s;
}

.fa-ticket:hover {
    color: #7f0000;
    -ms-transform: hvr-grow;
    -webkit-transform: hvr-grow;
    -moz-transform: hvr-grow;
    -o-transform: hvr-grow;
    transform: hvr-grow;
}

a:hover {
    text-decoration: none;
    color: #7f0000;
}

/*-----End of---------------TOUR-DATES*/

/*-------------------------------MUSIC*/

.top-albums {
    margin-top: 20px;

}


.top-tracks {
    background-color: #4f788b;
    color: #FFFFFF;
    padding: 45px;
    text-align: center;
}

.tracks-header {
    text-align: center;
    padding-top: 50px;
}


/*----------End OF---------------MUSIC*/

/*-------------------------------THE-BAND*/

.the-band-wrapper-blue {
    background-color: #4f788b;
    color: #FFFFFF;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}

.the-band-headline {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;

}

.about-the-band {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

#band {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: url("../images/members.png") no-repeat center;
    -webkit-background-size: 600px;
    -moz-background-size: 600px;
    -o-background-size: 600px;
    background-size: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -45px;
    text-align: center;
}

/*--------End of----------------THE-BAND*/

/*-------------------------------VIDEOS*/
.youtube-links {
    font-size: 40px;
    background-color: #b0a18e;
    width: 10%;
    align-items: center;
}

.video-title{
    text-align: center;
}
/*--------End OF-------------VIDEOS*/

/*-------------------------------GALLERY*/

.section-header {
    text-align: center;
}

.featured-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.photo-gallery {
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.opaque-overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-12 {
    padding: 2px 10px 10px 30px;
    align-items: center;
}

div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-12 img {
    height: 220px;
    width: 320px;
}

/*-------------End OF-------------GALLERY*/

/*-------------------------------BOOKINGS*/
.bookings-header {
    text-align: center;
    
}
/*--------End OF-------------BOOKINGS*/

/*-------------------------------BUY-TICKETS*/

/*----------END OF-------------BUY-TICKETS*/

/*---------------------------------JUMBOTRAN*/

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f5e5ad;
}

.block-divider--black {
    background-color: black;
    font-weight: 200;
    width: 45%;
}

/*----------End OF-------------JUMBOTRAN*/

/*---------------------------------Media Queries*/

/*-------------End OF------------Media Queries*/


