/*----------FONTS-----*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');




body {
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background-color: #e8fcf5;
    min-height: 100%
}

html {
    height: 100%;
}


/*--------------------------------------navbar*/
.navbar {
    padding: 3px 8px;
    border: 1px solid transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle {
    position: relative;
    padding: 9px 10px;
    margin-top: 0;
    margin-right: 10px;
}

.list-inline {
    text-align: center;
    width: 100%;
}

.list-inline li {
    width: 14.2857%;
    padding: 0px;
    margin: 0;
    font-size: 25px;
    font-weight: 500;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 27px;
    height: 5px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-collapse.in {
    overflow-y: auto;
    float: right;
    margin-right: 22px;
    margin-top: 87px;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: -1px 0px 14px 4px rgba(255, 255, 255, 0.28);
    float: right;
    margin-right: 22px;
    margin-top: 87px;
    border-radius: 5px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(45, 187, 255, 0.46);
    border-radius: inherit;
}

#navigationbar {
    margin-right: 10px;
    margin-top: 14px;
    float: right;
}

#navbar-bigger {
    width: 95vw;
    margin-top: 10px;
}

#navbar {
    margin: 67px 4px;
    padding: 0px;
}

#navbar>.list-inline {
    text-align: center;
    margin: 0;
    width: 100%
}

#navbar>.list-inline li {
    display: block;
    width: 45vw;
    margin-right: 2vw;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}
.hvr-fade:active,
.hvr-fade:focus,
.hvr-fade:hover {
    background-color: #31708f;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
.hvr-back-pulse:hover {
    background-color: #8a6d3b;
}
.spacetaker-under-header {
    height: 140px;
    width: 100vw;
}
.heading-text-and-menu {
    display: inline-block;
    padding: 0;
    min-width: 205px;
    margin-top: 18px;
    position: absolute;
}

/*-------------------------------HOME-PAGE*/

.main-logo {
    background: url("../images/logo-1.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-albums {
    margin-top: 20px;
    text-align: center;
    border: 0px;
}

.top-tracks {
    background-color: #4f788b;
    color: #FFFFFF;
    text-align: center;
    border: 0px;
}

/*---------------------------------JUMBOTRAN*/

.jumbotron {
    padding: 30px 60px 30px 60px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f5e5ad;
    border-radius: 6px;
    text-align: center;
    font-size: 30px;
}

.jumbotron>hr {
    border-top-color: red;
}

.divider {
    font-weight: 200;
    width: 45%;
}

/*-------------------------------FONTS,BUTTONS-BLOCK_DIVIDERS*/
.button {
    border: solid 2px;
    border-color: #31708f;
    border-radius: 5px;
    text-align: center;
    background-color: #b1d9ed;
    color: #022450;
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    text-shadow: #ffffff;
    box-shadow: inset 2px -10px 20px 0px #729cbf9e;
}

.ticket-button {
    border: solid 2px;
    border-color: #31708f;
    border-radius: 5px;
    text-align: center;
    background-color: #b1d9ed;
    color: #022450;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    text-shadow: #ffffff;
    box-shadow: inset 2px -10px 20px 0px #729cbf9e;
}

.ticket-button:hover {
    color: #61a3db;
    transition: 0.3s;
}

.btn-danger {
    color: #fff;
    background-color: red;
    border-color: red;
}



/*-------------------------------TOUR-DATES*/

.tour-dates-header {
    color: #000000;
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
}

.table-striped,
th {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}


.table {
    font-weight: 500;
    font-size: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

/*-------------------------------MUSIC*/

.tracks-header {
    text-align: center;
    padding-top: 50px;
    border: 0px;
}

p {
    margin: 0 0 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 45px;
}

.row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.blue-title{
    background-color: #4f788b;
    color: #FFFFFF;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

/*-------------------------------THE-BAND*/

.the-band-wrapper-blue {
    background-color: #4f788b;
    color: #FFFFFF;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 66px;
}

.the-band-headline {
    font-weight: 500;
    text-align: center;

}

.about-the-band {
    font-size: 20px;
    text-align: center;
}

.band-image {
    min-height: 80vh;
    background: url("../images/members.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0;
    text-align: center;
}



/*-------------------------------VIDEOS*/

.youtube-links {
    font-size: 50px;
    background-color: #d9bf6a;
    width: 100%;
    text-align: center;
}

/*-------------------------------PHOTOS*/

.section-header {
    text-align: center;
}

.photo-gallery {
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.imagetiles {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.galleryImage {
    height: 220px;
    width: 320px;
    margin-bottom: 10px;
}

/*-------------------------------BOOKINGS*/

.bookings-header {
    font-size: 30px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.form-group p {
    font-size: 18px;
    margin-bottom: 0;
}

.block-divider--blue{
    font-weight: 200;
    width: 55%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #5186c1;
}
.options-for-booking{
    text-align: center;
}


/*----------------------------------Footer*/


a:hover {
    text-decoration: none;
    color: #61a3db;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-blackseeds {
    text-align: center;
    right: 0;
    bottom: -1px;
    left: 0;
    padding: 0;
    color: #000000;
    width: 100%;
    height: 40vh;
    line-height: 2.8;
    min-height: 60px;
  /*  position: absolute;*/
}

.social-media-links {
    font-size: 20px;
    background-color: #b0a18e;
}

.mail-list {
    font-size: 18px;
    font-family: 'Roboto';
    margin-bottom: 0;
}

.disclaimer {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-align: center;
}

/*-----------------media querys--*/

@media (min-width: 767px) {
    #main-header {
        height: 140px;
    }
    #test2 {
        display: none;
    }
    
    .small-devices {
        display: none;
    }
    
     .button-small-devices {
        height: 70px;
        width: 100%;
        margin-top: 15px;
    }

    .button-small-devices button {
        height: 70px;
        width: 100%;
    }
    
     #navigationbar {
        display: none;
    }
    
}

@media (max-width: 767px) {
    
    .navbar-bigger,
    #navbar-bigger {
        display: none;
    }
    
    .navbar-toggle {
        width: 45vw;
        position: fixed;
        top: 10px;
        margin: 0px;
        padding: 4px;
        right: 3vw;
    }
    
 .button-small-devices {
        height: 70px;
        width: 100%;
        margin-top: 15px;
    }

    .button-small-devices button {
        height: 70px;
        width: 100%;
    }
}

