/*----------FONTS-----*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');




body {
    font-family: 'Roboto', sans-serif;
}

/*-------------------------------Colors*/

/*--------------------------------------navbar*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    -ms-transform: hvr-grow;
    -webkit-transform: hvr-grow;
    -moz-transform: hvr-grow;
    -o-transform: hvr-grow;
    color: #fffc64;
    transition: 0.5s;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.5);
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.sr-only icon-bar {
    color: #FFFFFF;
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #e8fcf5;
    border: 0;
    border-radius: 0;
}

.navbar-header {
    background-color: #e8fcf5;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.navbar .navbar-brand {
    color: #FFFFFF;
    font-size: 30px;

}

.navbar-brand-sm {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 100%;

}


.nav li a {
    display: block;
    padding: 10px 60px;
}

.navbar ul {
    text-align: center;
    color: #000000;
}

.navbar-default .navbar-nav a {
    color: #000000;

}

.navbar .navbar-brand {
    color: #000000;
    font-size: 25px;
    background-color: #e8fcf5;
}

.navbar-brand hidden-sm {
    font-size: 40px;
    background: transparent;
}

.navbar-header {
    background-color: #fffc64;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #000000;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #e8fcf5;
    color: #FFFFFF;
}

.navbar-btn:hover {
    background-color: #e8fcf5;
    border-color: #e8fcf5;
    color: #FFFFFF;
}

.options {
    color: #e8fcf5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 5px 8px 0 5px;

    display: inline;
}

.below-navbar {
    margin-top: 60px;
}

/*.container-fluid {
    background-color: #e8fcf5;
    margin: 0;
    padding: 0px;
}*/

/*-------------------------------HOME-PAGE*/

.callout-container {
    background: url("../images/logo-1.png") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    width: auto;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}

.top-albums {
    margin-top: 20px;
    text-align: center;
    border: 0px;
}

.top-tracks {
    background-color: #4f788b;
    color: #FFFFFF;
    text-align: center;
    border: 0px;
}

/*---------------------------------JUMBOTRAN*/

.jumbotron {
    padding: 30px 60px 30px 60px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f5e5ad;
    border-radius: 6px;
    text-align: center;
    font-size: 30px;
}

.jumbotron>hr{
    border-top-color: red;
}

.divider {
    font-weight: 200;
    width: 45%;
}

.button {
    color: #7f0000;
    
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}

.button:hover{
    color: #61a3db;
    transition: 0.3s;
}

/*--------------------------------------Body */

body {
    padding-top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background-color: #e8fcf5;
}


/*-------------------------------FONTS,BUTTONS-BLOCK_DIVIDERS*/

.btn {
    color: red;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-danger {
    color: #fff;
    background-color: red;
    border-color: red;
}


/*-------------------------------TOUR-DATES*/

.tour-dates-header {
    color: #000000;
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
}

.table-striped,
th {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}


.table {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}



.fa-ticket:hover {
    color:  #61a3db;
    -ms-transform: hvr-grow;
    -webkit-transform: hvr-grow;
    -moz-transform: hvr-grow;
    -o-transform: hvr-grow;
    transform: hvr-grow;
}





/*-------------------------------MUSIC*/

.tracks-header {
    text-align: center;
    padding-top: 50px;
    border: 0px;
}

p {
    margin: 0 0 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 45px;
}

.row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}


/*-------------------------------THE-BAND*/

.the-band-wrapper-blue {
    background-color: #4f788b;
    color: #FFFFFF;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

.the-band-headline {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;

}

.about-the-band {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.band-image {
    min-height: 80vh;
    font-family: 'Roboto', sans-serif;
    background: url("../images/members.png") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0;
    text-align: center;
}



/*-------------------------------VIDEOS*/

.youtube-links {
    font-size: 50px;
    background-color: #d9bf6a;
    width: 100%;
    text-align: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}


/*-------------------------------PHOTOS*/

.section-header {
    text-align: center;
}

.photo-gallery {
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.imagetiles {
    padding: 2px 10px 10px 30px;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.col-lg-3.col-md-3.col-sm-3.col-xs-12 img {
    height: 220px;
    width: 320px;
}



/*-------------------------------BOOKINGS*/

.bookings-header {
    font-size: 30px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.form-group p {
    font-size: 18px;
    font-family: 'Roboto';
    margin-bottom: 0;
}

/*----------------------------------Footer*/
a:hover {
    text-decoration: none;
    color: #61a3db;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-blackseeds {
    text-align: center;
    right: 0;
    bottom: -1px;
    left: 0;
    padding: 0;
    color: #000000;
    width: 100%;
    height: 40vh;
    line-height: 2.8;
    min-height: 120px;
}

.social-media-links {
    font-size: 40px;
    background-color: #b0a18e;
}

.mail-list {
    font-size: 18px;
    font-family: 'Roboto';
    margin-bottom: 0;
}

.disclaimer{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-align: center;
}
/*---------------------------------Media Queries*/
